<section class="p-3">
<div class="filters">
    <!-- Lọc theo số ngày sử dụng -->
    <select ng-model="filters.soNgaySuDung" ng-change="getAllProducts(0)">
        <option value="" selected>--Số ngày sử dụng--</option>
        <option ng-repeat="soNgay in uniqueSoNgaySuDung" value="{{soNgay}}">{{soNgay}}</option>
    </select>

    <!-- Lọc theo khoảng giá -->
    <select ng-model="filters.giaRange" ng-change="getAllProducts(0)">
        <option value="">--Chọn khoảng giá(Giá chưa giảm)--</option>
        <option value="0,100000">Dưới 100.000đ</option>
        <option value="100000,200000">100.000đ - 200.000đ</option>
        <option value="200000,500000">200.000đ - 500.000đ</option>
        <option value="500000,1000000">500.000đ - 1.000.000đ</option>
        <option value="1000000,null">Trên 1.000.000đ</option>
    </select>

    <!-- Lọc theo trạng thái -->
    <select ng-model="filters.trangThai" ng-change="getAllProducts(0)">
        <option value="">--Trạng thái--</option>
        <option value="1">Hoạt động</option>
        <option value="0">Không hoạt động</option>
    </select>
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal">
    Thêm Sản Phẩm
</button>
<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Thêm Sản Phẩm</h5>
<!--                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
            </div>
            <div class="modal-body">
                <form ng-submit="addProduct(product); clearForm()" name="myForm" novalidate>
                    <div class="mb-3">
                        <label class="form-label">Giá:</label>
                        <input type="text" name="gia" class="form-control" ng-model="product.gia"  ng-class="{'is-invalid': !isGiaValid(product.gia) && (myForm.gia.$touched || formSubmitted)}" min="1"/>
                        <div ng-show="!isGiaValid(product.gia) && (myForm.gia.$touched|| formSubmitted) " class="error text-danger">
                            Giá phải là số và lớn hơn 1đ.
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-md-6">
                            <label class="form-label">Số ngày sử dụng:</label>
                            <select class="form-control" ng-model="product.soNgaySuDung" ng-disabled="product.soNgaySuDungInput" >
                                <option value=""  selected>Vui lòng chọn số ngày</option>
                                <option ng-repeat="soNgay in uniqueSoNgaySuDung" value="{{soNgay}}">{{soNgay}}</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Nhập số ngày sử dụng khác:</label>
                            <input type="number" class="form-control" ng-model="product.soNgaySuDungInput" ng-disabled="product.soNgaySuDung">
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Ngày nhập:</label>
                        <input type="datetime-local" class="form-control" ng-model="product.ngayNhap" >
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Ngày sản xuất:</label>
                        <input type="datetime-local" class="form-control" ng-model="product.nsx" >
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Hạn sử dụng:</label>
                        <input type="datetime-local" class="form-control" ng-model="product.hsd" >
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Số lượng:</label>
                        <input type="number" name="soLuong" class="form-control" ng-model="product.soLuong" ng-class="{'is-invalid': !isSoLuongValid(product.soLuong)  && (myForm.soLuong.$touched || formSubmitted)}" min="1">
                        <div ng-show="!isSoLuongValid(product.soLuong) && (myForm.soLuong.$touched || formSubmitted)" class="error text-danger">
                            Số lượng phải là số và lớn hơn hoặc bằng 1.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Chọn ảnh:</label>
                        <input type="file" class="form-control" accept="image/*" multiple onchange="angular.element(this).scope().selectImages(this)">
                    </div>
                    <div class="mb-3" ng-if="product.imagePreviews.length > 0">
                        <h5>Hình ảnh đã chọn:</h5>
                        <div class="image-wrapper" ng-repeat="image in product.imagePreviews">
                            <img ng-src="{{image}}" alt="Hình ảnh sản phẩm" class="product-image" width="100" height="100">
                            <a class="btn btn-danger remove-button" ng-click="removeImage($index, false)">X</a>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-outline-success">Thêm</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Danh sách Chi Tiết Sản Phẩm -->
<h2 class="text-center">Danh sách Chi Tiết Sản Phẩm</h2>
<table class="table table-hover mt-4">
    <thead>
    <tr>
        <th>STT</th>
        <th>Ảnh</th>
        <th>ID</th>
        <th>Mã</th>
        <th>Giá</th>
        <th>Số ngày sử dụng</th>
        <th>Ngày nhập</th>
        <th>Số lượng</th>
        <th>Trạng thái</th>
        <th>Ngày tạo</th>
        <th>Ngày sửa</th>
        <th colspan="3">Thao tác</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="ctsp in products">
        <td>{{$index + 1}}</td>
        <td>
            <img ng-if="ctsp.linkAnhList.length > 0" ng-src="{{ctsp.linkAnhList[0]}}" alt="{{ctsp.ma}}" width="60" height="60" class="me-1">
            <span ng-if="ctsp.linkAnhList.length === 0">Không có ảnh</span>
        </td>
        <td>{{ctsp.id}}</td>
        <td>{{ctsp.ma}}</td>
        <td>
            {{ ctsp.gia }} VND
            <span ng-if="ctsp.tienGiam && ctsp.tienGiam > 0" class="text-danger">
        (Giảm: {{ ctsp.tienGiam }} VND)
    </span>
        </td>        <td>{{ctsp.soNgaySuDung}} ngày</td>
        <td>{{ctsp.ngayNhap | date:'yyyy-MM-dd'}}</td>
        <td>{{ctsp.soLuong}}</td>
        <td>
            {{ ctsp.trangThai === 1 ? 'Đang hoạt động' : (ctsp.trangThai === 0 ? 'Không hoạt động' : (ctsp.trangThai === 2 ? 'Sắp hết hàng' : 'Trạng thái không xác định')) }}
        </td>
        <td>{{ctsp.ngayTao | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{ctsp.ngaySua | date:'yyyy-MM-dd HH:mm:ss'}}</td>

        <td>
            <button class="btn btn-success" ng-click="viewDetail(ctsp.id)" data-bs-toggle="modal" data-bs-target="#readData">
                <i class="bi bi-eye"></i>
            </button>
            <div class="modal fade" id="readData" tabindex="-1" aria-labelledby="readDataLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="readDataLabel">Chi tiết sản phẩm</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <!-- Cột cho thông tin chi tiết sản phẩm -->
                                <div class="col-md-6">
                                    <p><strong>Giá:</strong> {{ productDetail.gia }} VND</p>
                                    <p ng-if="productDetail.tienGiam > 0" class="text-danger">
                                        (Giảm: {{ productDetail.tienGiam }} VND)
                                    </p>                                    <p><strong>Số ngày sử dụng:</strong> {{ productDetail.soNgaySuDung }} Ngày</p>
                                    <p><strong>Số lượng:</strong> {{ productDetail.soLuong }}</p>
                                    <p><strong>Trạng thái:</strong>
                                        {{ productDetail.trangThai == 1 ? 'Đang hoạt động' :
                                        (productDetail.trangThai === 0 ? 'Không hoạt động' :
                                        (productDetail.trangThai === 2 ? 'Sắp hết hàng' : 'Trạng thái không xác định')) }}
                                    </p>
                                    <p><strong>Ngày tạo:</strong> {{ productDetail.ngayTao | date:'yyyy-MM-dd HH:mm:ss' }}</p>
                                    <p><strong>Ngày sửa:</strong> {{ productDetail.ngaySua | date:'yyyy-MM-dd HH:mm:ss' }}</p>
                                </div>
                                <!-- Cột cho hình ảnh sản phẩm -->
                                <div class="col-md-6">
                                    <div ng-if="productDetail.linkAnhList.length > 0">
                                        <strong>Hình ảnh:</strong>
                                        <div class="d-flex flex-wrap">
                                            <div ng-repeat="link in productDetail.linkAnhList" class="me-2 mb-2">
                                                <img ng-src="{{ link }}" alt="Ảnh sản phẩm" class="img-fluid" width="150" height="150" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12" style="text-align: center">
                                    <strong>Lô hàng:</strong>
                                    <div ng-if="productDetail.loHangList.length > 0">
                                        <div ng-repeat="loHang in productDetail.loHangList" style="max-height: 300px; overflow-y: auto;border: 1px solid #ccc;padding: 10px;text-align: center">
                                            Ngày nhập: {{ loHang.ngayNhap | date:'yyyy-MM-dd' }}-Ngày sản xuất: {{ loHang.nsx | date:'yyyy-MM-dd' }}-Hạn sử dụng: {{ loHang.hsd | date:'yyyy-MM-dd' }}-Số lượng: {{ loHang.soLuong }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn btn-primary" ng-click="viewDetail(ctsp.id)" data-bs-toggle="modal" data-bs-target="#userForm"><i class="bi bi-pencil-square"></i></button>
            <!-- Modal Cập Nhật Sản Phẩm -->
            <div class="modal fade" id="userForm" tabindex="-1" aria-labelledby="userFormLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="userFormLabel">Cập Nhật Sản Phẩm</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form ng-submit="updateProduct(); clearForm()">
                                <input type="hidden" ng-model="productDetail.id" required>

                                <div class="mb-3">
                                    <label class="form-label">Giá:</label>
                                    <input type="text" class="form-control" ng-value="totalPrice" ng-model="productDetail.gia" required>
                                </div>
                                <div class="mb-3" ng-if="productDetail.tienGiam > 0">
<!--                                    <label class="form-label">Tổng giá (bao gồm giảm):</label>-->
                                    <p>Tiền giảm hiện tại: {{productDetail.tienGiam}}VND</p>
                                </div>
                                <div class="mb-3 row">
                                    <div class="col-md-6">
                                        <label class="form-label">Số ngày sử dụng:</label>
                                        <select class="form-control" ng-model="productDetail.soNgaySuDung" ng-disabled="productDetail.soNgaySuDungInput" required>
                                            <option value=""  selected>Vui lòng chọn số ngày</option>
                                            <option ng-repeat="soNgay in uniqueSoNgaySuDung" value="{{soNgay}}">{{soNgay}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Nhập số ngày sử dụng khác:</label>
                                        <input type="number" class="form-control" ng-model="productDetail.soNgaySuDungInput" ng-disabled="productDetail.soNgaySuDung">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Chọn ảnh:</label>
                                    <input type="file" class="form-control" accept="image/*" multiple onchange="angular.element(this).scope().selectImages(this)">
                                </div>
                                <div class="mb-3" ng-if="productDetail.imagePreviews.length > 0">
                                    <h5>Hình ảnh hiện tại:</h5>
                                    <div class="image-wrapper" ng-repeat="(index, image) in productDetail.imagePreviews">
                                        <img ng-src="{{image}}" alt="Hình ảnh sản phẩm" width="100" height="100" class="mt-2 me-2">
                                        <a class="btn btn-danger remove-button" ng-click="removeImage($index, true)">X</a> <!-- Nút xóa cho productDetail -->
                                    </div>
                                </div>
                                <div class="mb-12">
                                    <h5>Lô hàng hiện có:</h5>
                                    <button class="btn btn-primary mt-4" type="button" ng-click="toggleAddLoHangForm()">Thêm lô hàng</button>
                                    <div ng-if="showAddLoHangForm" class="mt-3">
                                        <fieldset class="border p-3">
                                            <legend class="w-auto"><strong>Thêm lô hàng mới</strong></legend>
                                            <div class="mb-3">
                                                <label class="form-label">Ngày sản xuất:</label>
                                                <input ng-model="newLoHang.nsx" type="datetime-local" class="form-control">
                                                <div ng-show="newLoHangErrors.nsx" class="error text-danger">{{ newLoHangErrors.nsx }}</div>
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Ngày nhập:</label>
                                                <input ng-model="newLoHang.ngayNhap" type="datetime-local" class="form-control">
                                                <div ng-show="newLoHangErrors.ngayNhap" class="error text-danger">{{ newLoHangErrors.ngayNhap }}</div>
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Hạn sử dụng:</label>
                                                <input ng-model="newLoHang.hsd" type="datetime-local" class="form-control">
                                                <div ng-show="newLoHangErrors.hsd" class="error text-danger">{{ newLoHangErrors.hsd }}</div>
                                            </div>

                                            <div class="mb-3">
                                                <label class="form-label">Số lượng:</label>
                                                <input ng-model="newLoHang.soLuong" type="number" class="form-control">
                                                <div ng-show="newLoHangErrors.soLuong" class="error text-danger">{{ newLoHangErrors.soLuong }}</div>
                                            </div>

                                            <!-- Lưu lô hàng mới -->
                                            <button class="btn btn-success mt-2" type="button" ng-click="addLoHang()">Lưu lô hàng</button>
                                            <!-- Hủy thao tác thêm lô hàng -->
                                            <button class="btn btn-secondary mt-2" type="button" ng-click="toggleAddLoHangForm()">Hủy</button>
                                        </fieldset>
                                    </div>
                                    <div class="loHang-scroll-container" style="max-height: 400px; overflow-y: auto; padding-right: 10px;">
                                        <div ng-repeat="(index, loHang) in productDetail.loHangList | orderBy:'ngayNhap'">
                                            <fieldset class="border p-3 mb-3">
                                                <legend class="w-auto"><strong>Lô hàng {{index + 1}}</strong></legend>
                                                <div>
                                                    <input type="hidden" ng-model="loHang.id">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Ngày nhập:</label>
                                                    <input ng-model="loHang.ngayNhap" type="datetime-local" class="form-control">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Ngày sản xuất:</label>
                                                    <input ng-model="loHang.nsx" type="datetime-local" class="form-control">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Hạn sử dụng:</label>
                                                    <input ng-model="loHang.hsd" type="datetime-local" class="form-control">
                                                </div>
                                                <div class="mb-3">
                                                    <label class="form-label">Số lượng:</label>
                                                    <input ng-model="loHang.soLuong" type="number" class="form-control">
                                                </div>
                                                <!-- Cập nhật thông tin lô hàng -->
                                                <button class="btn btn-success mt-2" type="button" ng-click="updateLoHang(loHang)">Cập nhật</button>
                                            </fieldset>
                                        </div>
                                    </div>

<!--                                    <button class="btn btn-primary mt-4" type="button" ng-click="toggleAddLoHangForm()">Thêm lô hàng</button>-->

                                    <!-- Form thêm lô hàng -->

                                </div>
                                <!--                                <label class="form-label">Trạng thái:</label>-->
                                <!--                                <div class="form-check">-->
                                <!--                                    <input class="form-check-input" type="radio" ng-model="productDetail.trangThai" ng-value="1">-->
                                <!--                                    <label class="form-check-label">Active</label>-->
                                <!--                                </div>-->
                                <!--                                <div class="form-check">-->
                                <!--                                    <input class="form-check-input" type="radio" ng-model="productDetail.trangThai" ng-value="0">-->
                                <!--                                    <label class="form-check-label">Inactive</label>-->
                                <!--                                </div>-->
                                <button type="submit" class="btn btn-outline-success">Cập Nhật</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <button class="btn btn-danger" ng-if="ctsp.trangThai == 1" ng-click="deleteProduct(ctsp.id)">
                    <i class="bi bi-trash"></i>
                </button>

                <!-- Nút Kích Hoạt -->
                <button class="btn btn-success" ng-if="ctsp.trangThai != 1" ng-click="activateProduct(ctsp.id)">
                    <i class="bi bi-check-circle"></i>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<div class="text-center">
    <ul class="pagination">
        <li ng-class="{ 'disabled': currentPage === 0 }">
            <button href="" ng-click="previousPage()">Previous</button>
        </li>
        <li ng-repeat="page in pages" ng-class="{ 'active': currentPage === page }">
            <button href="" ng-click="getAllProducts(page)">{{ page + 1 }}</button>
        </li>
        <li ng-class="{ 'disabled': currentPage === totalPages - 1 }">
            <button href="" ng-click="nextPage()">Next</button>
        </li>
    </ul>
</div>
    </section >

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>