<div class="text-center">
    <h2>Quản Lý Sản Phẩm</h2>
</div>
<div class="filters">
    <!-- Tìm kiếm sản phẩm -->
    <input type="text"
           ng-model="filters.searchText"
           ng-change="getAllProducts(0)"
           placeholder="Tìm kiếm sản phẩm..." />

    <!-- Lọc theo danh mục -->
    <select ng-model="filters.tenDanhMuc"
            ng-change="getAllProducts(0)"
            ng-options="danhMuc.ten as danhMuc.ten for danhMuc in listDanhMuc">
        <option value="">--Chọn danh mục--</option>
    </select>

    <!-- Lọc theo trạng thái -->
    <select ng-model="filters.trangThai"
            ng-change="getAllProducts(0)">
        <option value="">--Trạng thái--</option>
        <option value="1">Hoạt động</option>
        <option value="0">Không hoạt động</option>
    </select>

    <!-- Lọc theo tuổi -->
    <select ng-model="filters.tuoiRange"
            ng-change="getAllProducts(0)"
            ng-options="range as range.label for range in ageRanges">
        <option value="">--Chọn khoảng tuổi--</option>
    </select>
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal">
    Thêm Sản Phẩm
</button>

<div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Thêm Sản Phẩm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form ng-submit="addProduct(product); clearForm()">
                    <div class="mb-3">
                        <label class="form-label">Tên sản phẩm:</label>
                        <input type="text" class="form-control" ng-model="product.tenSP" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Thành phần:</label>
                        <input type="text" class="form-control" ng-model="product.thanhPhan" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Công dụng:</label>
                        <input type="text" class="form-control" ng-model="product.congDung" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Hướng dẫn sử dụng:</label>
                        <input type="text" class="form-control" ng-model="product.hdsd" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Tuổi tối thiểu:</label>
                        <input type="number" class="form-control" ng-model="product.tuoiMin" required>
                        <label class="form-label">Tuổi tối đa:</label>
                        <input type="number" class="form-control" ng-model="product.tuoiMax" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Danh mục:</label>
                        <select class="form-control" ng-model="product.idDanhMuc" required>
                            <option value="" disabled selected>Vui lòng chọn danh mục</option>
                            <option ng-repeat="danhMuc in listDanhMuc" value="{{danhMuc.id}}">{{danhMuc.ten}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Mô tả:</label>
                        <textarea type="tel" class="form-control" ng-model="product.moTa" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-success">Thêm</button>
                </form>
            </div>
        </div>
    </div>
</div>


<table class="table table-hover mt-4">
    <thead>
    <tr>
        <th>STT</th>
        <th>ID</th>
        <th>Mã</th>
        <th>Tên</th>
        <th>Thành phần</th>
        <th>Công dụng</th>
        <th>Hướng dẫn sử dụng</th>
        <th>Tuổi tối thiểu</th>
        <th>Tuổi tối đa</th>
        <th>Tổng số lượng</th>
        <th>Mô tả</th>
        <th>Danh mục</th>
        <th>Thương hiệu</th>
        <th>Trạng thái</th>
        <th>Ngày tạo</th>
        <th>Ngày sửa</th>
        <th colspan="2">Hành động</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="sp in products">
        <td>{{$index + 1 + (currentPage * itemsPerPage)}}</td> <!-- Đánh số thứ tự sản phẩm trên trang -->
        <td>{{sp.id}}</td>
        <td>{{sp.maSP}}</td>
        <td>{{sp.tenSP}}</td>
        <td>{{sp.thanhPhan}}</td>
        <td>{{sp.congDung}}</td>
        <td>{{sp.hdsd}}</td>
        <td>{{sp.tuoiMin}} tuổi</td>
        <td>{{sp.tuoiMax}} tuổi</td>
        <td>{{sp.tongSoLuong}}</td>
        <td>{{sp.moTa}}</td>
        <td>{{sp.tenDanhMuc}}</td>
        <td>{{sp.tenThuongHieu}}</td>
        <td>{{sp.trangThai === 1 ? 'Đang hoạt động' : (sp.trangThai === 0 ? 'Không hoạt động' : (sp.trangThai === 2 ?
            'Sắp hết hàng' : 'Trạng thái không xác định')) }}
        </td>
        <td>{{sp.ngayTao | date:'yyyy-MM-dd HH:mm:ss'}}</td>
        <td>{{sp.ngaySua | date:'yyyy-MM-dd HH:mm:ss'}}</td>

        <td>
            <a ng-href="#!/chitietsanpham/{{sp.id}}" class="btn" style="background-color: #3498db; color: white;">
                <i class="fa fa-list"></i>
            </a>
            <button class="btn btn-success" ng-click="viewDetail(sp.id)" data-bs-toggle="modal"
                    data-bs-target="#readData">
                <i class="bi bi-eye"></i>
            </button>
            <div class="modal fade" id="readData" tabindex="-1" aria-labelledby="readDataLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="readDataLabel">Chi tiết sản phẩm</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <!-- Cột cho thông tin chi tiết sản phẩm -->
                                <div class="col-md-6">
                                    <p><strong>Mã:</strong> {{ productDetail.maSP}} </p>
                                    <p><strong>Tên:</strong> {{ productDetail.tenSP }} </p>
                                    <p><strong>Thành phần:</strong> {{ productDetail.thanhPhan }}</p>
                                    <p><strong>Công dụng:</strong> {{ productDetail.congDung }}</p>
                                    <p><strong>Hướng dẫn sử dụng:</strong> {{ productDetail.hdsd }}</p>
                                    <p><strong>Tuổi tối thiểu:</strong> {{ productDetail.tuoiMin }} tuổi</p>
                                    <p><strong>Tuôi tối đa:</strong> {{ productDetail.tuoiMax }} tuổi</p>
                                    <p><strong>Số lượng:</strong> {{ productDetail.tongSoLuong }}</p>
                                    <p><strong>Trạng thái:</strong>
                                        {{ productDetail.trangThai == 1 ? 'Đang hoạt động' :
                                        (productDetail.trangThai === 0 ? 'Không hoạt động' :
                                        (productDetail.trangThai === 2 ? 'Sắp hết hàng' : 'Trạng thái không xác định'))
                                        }}
                                    </p>
                                    <p><strong>Ngày tạo:</strong> {{ productDetail.ngayTao | date:'yyyy-MM-dd HH:mm:ss'
                                        }}</p>
                                    <p><strong>Ngày sửa:</strong> {{ productDetail.ngaySua | date:'yyyy-MM-dd HH:mm:ss'
                                        }}</p>
                                </div>
                                <!-- Cột cho hình ảnh sản phẩm -->
                                <div class="col-md-6">
                                    <div ng-if="productDetail.linkAnhList.length > 0">
                                        <strong>Hình ảnh:</strong>
                                        <div class="d-flex flex-wrap">
                                            <div ng-repeat="link in productDetail.linkAnhList" class="me-2 mb-2">
                                                <img ng-src="{{ link }}" alt="Ảnh sản phẩm" class="img-fluid"
                                                     width="150" height="150"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" ng-click="viewDetail(sp.id)" data-bs-toggle="modal"
                    data-bs-target="#userForm">
                <i class="bi bi-pencil-square">

                </i></button>
            <div class="modal fade" id="userForm" tabindex="-1" aria-labelledby="userFormLabel" aria-hidden="true">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="userFormLabel">Cập nhật sản phẩm</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form ng-submit="updateProduct(); clearForm()">
                                <!-- Thêm trường ID ẩn -->
                                <input type="hidden" ng-model="productDetail.id" required>

                                <div class="mb-3">
                                    <label class="form-label">Tên sản phẩm:</label>
                                    <input type="text" class="form-control" ng-model="productDetail.tenSP" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Thành phần:</label>
                                    <input type="text" class="form-control" ng-model="productDetail.thanhPhan" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Công dụng:</label>
                                    <input type="text" class="form-control" ng-model="productDetail.congDung" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Hướng dẫn sử dụng:</label>
                                    <input type="text" class="form-control" ng-model="productDetail.hdsd" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Tuổi tối thiểu:</label>
                                    <input type="number" class="form-control" ng-model="productDetail.tuoiMin" required>
                                    <label class="form-label">Tuổi tối đa:</label>
                                    <input type="number" class="form-control" ng-model="productDetail.tuoiMax" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Danh mục:</label>
                                    <select class="form-control" ng-model="productDetail.idDanhMuc" required>
                                        <option value="" disabled selected>Vui lòng chọn danh mục</option>
                                        <option ng-repeat="danhMuc in listDanhMuc" value="{{danhMuc.id}}">
                                            {{danhMuc.ten}}
                                        </option>
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Mô tả:</label>
                                    <input type="tel" class="form-control" ng-model="productDetail.moTa" required>
                                </div>
                                <button type="submit" class="btn btn-outline-success">Cập Nhật</button>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-danger" ng-click="deleteProduct(sp.id)">
                <i class="bi bi-trash"></i>
            </button>
        </td>
    </tr>
    </tbody>
</table>
<div class="text-center">
    <ul class="pagination">
        <li ng-class="{ 'disabled': currentPage === 0 }">
            <a href="" ng-click="previousPage()">Previous</a>
        </li>
        <li ng-repeat="page in pages" ng-class="{ 'active': currentPage === page }">
            <a href="" ng-click="getAllProducts(page)">{{ page + 1 }}</a>
        </li>
        <li ng-class="{ 'disabled': currentPage === totalPages - 1 }">
            <a href="" ng-click="nextPage()">Next</a>
        </li>
    </ul>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

