<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý cửa hàng</title>

    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angularUtils-pagination/0.11.1/dirPagination.js"></script>

    <!--    <link rel="stylesheet" href="./style/nhansu.css">-->
    <link rel="stylesheet" href="./style/layout.css">

    <script src="https://code.angularjs.org/1.8.2/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.8.2/angular-route.min.js"></script>

    <script src="./script/layout.js"></script>

    <script src="./script/sanpham.js"></script>
    <script src="./script/ctsp.js"></script>
    <script src="./script/hoadon.js"></script>
    <script src="./script/giamgia.js"></script>
    <script src="./script/banhang.js"></script>
    <script src="./script/nhansu.js"></script>
    <script src="./script/khachhang.js"></script>
    <script src="./script/thongke.js"></script>
    <script src="./script/voucher.js"></script>
    <script src="./script/loaivoucher.js"></script>
    <script src="./script/thongbao.js"></script>
    <script src="./script/thongtingiaohang.js"></script>
    <script src="./script/thanhtoan.js"></script>
    <link rel="stylesheet" href="./style/chitietsanpham.css">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/giamgia.css">
    <link rel="stylesheet" href="./style/banhang.css">
    <link rel="stylesheet" href="./style/sanpham.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://unpkg.com/html5-qrcode/minified/html5-qrcode.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jsqr/dist/jsQR.min.js"></script>

</head>

<body ng-app="myApp" ng-controller="myCtrl">

<div id="success-alert" class="alert alert-success alert-dismissible fade" role="alert"
     style="display: none; position: fixed; top: 0; left: 0; width: 100%; z-index: 9999; text-align: center;">
    <strong><span id="success-message"></span></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div id="danger-alert" class="alert alert-danger alert-dismissible fade" role="alert"
     style="display: none; position: fixed; top: 0; left: 0; width: 100%; z-index: 9999; text-align: center;">
    <strong><span id="danger-message"></span></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div id="warning-alert" class="alert alert-warning alert-dismissible fade" role="alert"
     style="display: none; position: fixed; top: 0; left: 0; width: 100%; z-index: 9999; text-align: center;">
    <strong><span id="warning-message"></span></strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div id="confirm-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel" aria-hidden="true"
     style="z-index: 10500;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Xác nhận</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-icon">
                    <i class="fas fa-exclamation-triangle"></i> <!-- Thêm icon cảnh báo -->
                </div>
                <p id="confirm-message">Bạn có chắc chắn muốn thực hiện hành động này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                <button type="button" id="confirm-yes" class="btn btn-primary">Xác nhận</button>
            </div>
        </div>
    </div>
</div>



<!--<div class="popup popup-confirm">-->
<!--    <div class="head-popup head-confirm">-->
<!--        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>-->
<!--            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>-->
<!--            <g id="SVGRepo_iconCarrier">-->
<!--                <path d="M20 7L9.00004 18L3.99994 13" stroke="#fff" stroke-width="1.5" stroke-linecap="round"-->
<!--                      stroke-linejoin="round"></path>-->
<!--            </g>-->
<!--        </svg>-->
<!--    </div>-->
<!--    <h3 id="text-popup">Bạn chắc chắn chứ!</h3>-->
<!--    <div class="btn-popup">-->
<!--        <button id="confirm">Xác nhận</button>-->
<!--        <button id="cancel">Hủy</button>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="popup popup-warning">-->
<!--    <div class="head-popup head-warning">-->
<!--        <svg aria-hidden="true" stroke="orange" stroke-width="1.5" viewBox="0 0 24 24" fill="none">-->
<!--            <path-->
<!--                    d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"-->
<!--                    stroke-linejoin="round" stroke-linecap="round">-->
<!--            </path>-->
<!--        </svg>-->
<!--    </div>-->
<!--    <div class="content-popup">-->
<!--        <h3 style="text-align: center;">Warning</h3>-->
<!--        <p id="text-warning">This is a warning message</p>-->
<!--    </div>-->
<!--    <div class="btn-popup">-->
<!--        <button id="confirm-warning">Xác nhận</button>-->
<!--        <button id="cancel-warning">Hủy</button>-->
<!--    </div>-->
<!--</div>-->

<section id="sidebar">
    <a href="#" class="brand">
        <span class="text">Loopy</span>
    </a>
    <ul class="side-menu top">
        <li class="active">
            <a href="#!/sanpham">
                <i class='bx bxs-dashboard'></i>
                <span class="text">Sản phẩm</span>
            </a>
        </li>
        <li>
            <a href="#!/banhang">
                <i class='bx bxs-shopping-bag-alt'></i>
                <span class="text">Cửa hàng</span>
            </a>
        </li>
        <li>
            <a href="#!/hoadon">
                <i class='bx bxs-shopping-bag-alt'></i>
                <span class="text">Hóa đơn</span>
            </a>
        </li>
        <li>
            <a href="#!/giamgia">
                <i class='bx bxs-discount'></i>
                <span class="text">Giảm giá</span>
            </a>
        </li>
        <li>
            <a href="#!/nhansu">
                <i class='bx bxs-group'></i>
                <span class="text">Nhân sự</span>
            </a>
        </li>
        <li>
            <a href="#!/khachhang">
                <i class='bx bxs-user-pin'></i>
                <span class="text">Khách hàng</span>
            </a>
        </li>
        <li>
            <a href="#!/voucher">
                <i class='bx bxs-user-pin'></i>
                <span class="text">Voucher</span>
            </a>
        </li>
        <li>
            <a href="#!/loaivoucher">
                <i class='bx bxs-user-pin'></i>
                <span class="text">Loại Voucher</span>
            </a>
        </li>
        <li>
            <a href="#!/thongtingiaohang">
                <i class='bx bxs-user-pin'></i>
                <span class="text">Thông tin giao hàng</span>
            </a>
        </li>
        <li>
            <a href="#!/thongbao">
                <i class='bx bxs-user-pin'></i>
                <span class="text">Thông báo</span>
            </a>
        </li>
        <li>
            <a href="#!/thongke">
                <i class="bx bxs-chart"></i>
                <span class="text">Thống kê</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="#" class="logout">
                <i class='bx bxs-log-out-circle'></i>
                <span class="text">Đăng xuất</span>
            </a>
        </li>
    </ul>
</section>

<section id="content">
    <nav>
        <i class='bx bx-menu' id="bx_menu"></i>
        <form action="#">
            <div class="form-input" style="display: none;">
                <input type="search" placeholder="Search...">
                <button type="submit" class="search-btn"><i class='bx bx-search'></i></button>
            </div>
        </form>
        <a href="#" class="notification">
            <i class='bx bxs-bell'></i>
            <span class="num">8</span>
        </a>
        <a class="profile" ng-click="showProfile()">
            <img id="img-acc" alt="Ảnh nhân viên" style="width: 50px; height: 50px;" />
        </a>
    </nav>
    <main>
        <div ng-view></div>
    </main>
</section>
<div id="notificationModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>{{modalMessage}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" ng-click="closeNotificationModal()">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div id="profileModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thông tin cá nhân</h5>
                <button type="button" class="close" data-bs-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Nội dung -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger" ng-click="logout()">Đăng Xuất</button>
            </div>
        </div>
    </div>
</div>
</body>


</html>
